{% extends 'account/base.html' %}


{% block content %}

<div class="row text-muted border-bottom mb-2">
    <div class="col-2 pl-5">Username</div>
    <div class="col-2 px-0">Email</div>
    <div class="col-2 px-0">Action</div>
</div>

{% for user in user_list %}
    {% if not user.is_superuser and user.is_active %}
    <div class="parent">
        <div class="row highlight bg-light mb-2 py-2">
            <div class="col-2 pl-5">{{ user.username }}</div>
            <div class="col-2 px-0">{{ user.email }}</div>
            <div class="col-2 px-0">
                <div class="float-right del">
                    <form action="{% url 'account-user-del' user.id%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
    </div>
    {% endif %}

{% endfor %}




{% endblock content %}